<!DOCTYPE html>
<html
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="Caio Loureiro">
		<meta name="robots" content="index, follow">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Language" content="pt-br">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="rating" content="general"/>
		<title>eventosapp</title>
		<link rel="stylesheet" href="../../css/estilo.css"/>
	</head>
	<body>
		<h1>Cadastro de Eventos:</h1>
		
		<div class="btn-container">
			<a href="/eventos"><div class="btn100">Voltar</div></a>
		</div>
		
		<div class="container">
			<form action="" method="POST">
				<div class="linha"><div class="legenda">Nome: </div><input type="text" value="" name="nome"/></div>
				<div class="linha"><div class="legenda">Local: </div><input type="text" value="" name="local"/></div>
				<div class="linha"><div class="legenda">Data: </div><input type="date" value="" name="data"/></div>
				<div class="linha"><div class="legenda">Horario: </div><input type="text" value="" name="horario"/></div>
				<div class="linha"><button type="submit" class="btn">Salvar</button></div>
			</form>
		</div>
		
		<th:block th:include="mensagemValidacao"></th:block>
		
		<script type="text/javascript" src="../js/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="../js/motor.js"></script>
		
	</body>
</html>